body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/concrete_seamless.png");
}

html{
    position: relative;
    min-height: 100%;
}

main{
    margin: 80px 0;
}

.block-header{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: #4aaaa5;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #4aaaa5;
}

.navbar{
    background: white;
    border: none;
}

@media only screen and (max-width: 767px){
    .navbar-header{
        background-color: #4aaaa5;
    }
}

.connect-header{
    font-size: 25px;
}

.connect-photo{
    width: 55px;
    height: 55px;
}

#images{
    padding-top: 15px;
    text-align: center;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666666;
}

.text-muted-footer {
    margin-top: 15px;
    color: #fff;
}

.two-toned-footer-color{
    height: 6px;
    padding-top: 3px;
    background-color: #4aaaa5;
}

/* About Me Page */

.about-me-header{
    margin-bottom: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
}

#about-image {
    float: left;
    width: 200px;
    margin: 0 20px 10px 0;
}

/* Portfolio Page */
.port-image{
    margin: 20px auto;
}

/* Contact Page */
.form-control{
    border-radius: 0;
    min-width: 100%;
    max-width: 100%;
}

.submit-btn{
    padding: 15px 30px;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    background-color: #4aaaa5;
    border: 0;
}

.submit-btn:hover{
    opacity: .7;
}

.ribbon {
	position: absolute;
	bottom: 10px;
	height: 25px;
	width: 155px;
	text-align: center;
	color: #ffffff;
	background: #4aaaa5;
	padding: 3px;
}
.images{
    position: relative;
    margin-bottom: 20px;
    width: 215px;
}